* {
  margin: 0px;
  box-sizing: border-box;
}

.background-grey {
  background: #f7f7f7;
}

section > .containerr {
  width: 100vw;
  margin: auto;
  display: block;

  padding: 30px;
}

header {
  position: relative;
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  color: white;
}

#banner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.avatar-image {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 175px;
  height: auto;
  border: 10px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.avatar-container {
  flex-basis: 200px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.personal-info {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #f7f7f7;
}

.personal-info-heading {
  font-size: 28px;
  margin-bottom: 40px;
}

.grey-info {
  font-size: 16px;
  line-height: 1.6;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #868e96;
}

.personal-icon {
  margin-top: 30px;
}

.job-info-container {
  font-family: sans-serif;
  line-height: 1.6;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;
}

.job-info-item1 {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: min-content;
  border: 1px solid #868e96;
  padding-bottom: 50px;
}

.job-info-title {
  padding-left: 33px;
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.exp-act-edu {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 10% 80%;
  justify-content: center;
}

.blue-dot {
  display: inline-block;
  height: 10px;
  width: 5px;
  background-color: #199cdb;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 50%;
  justify-self: center;
}

.job-info-item2 {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: min-content;
  border: 1px solid #868e96;
}

.skill-lang {
  grid-column-start: 1;
  grid-column-end: -1;
  padding-left: 33px;
}

.blue-bar {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.gray-bar {
  background: #868e96;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.job-info-item3 {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: min-content;
  border: 1px solid #868e96;
  padding-bottom: 50px;
}

.hobbies-container {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  margin-left: 33px;
  margin-right: 33px;
}

.hobbies-item {
  height: 60px;
  width: 60px;
  border: 2px solid #199cdb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.hobbies-item-special {
  height: 60px;
  width: 60px;
  border: 2px solid #199cdb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 8px;
}

.cert-award {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
  margin-top: 50px;
}

.cert-award-container {
  display: grid;
  grid-template-rows: 50% 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cert-award-upper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 36px;
  margin-right: 66px;
  padding-bottom: 50px;
  border-bottom: 1px solid #d6c08d;
}

.cert-award-left {
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 2.5%;
}

.cert-award-right {
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 2.5%;
  padding-left: 15px;
  border-left: 1px solid #d6c08d;
}

.cert-award-lower {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-left: 36px;
  padding-top: 50px;
}

.project-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
  margin-top: 40px;
}

.blue-text {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 60px;
  height: 20px;
  background-color: #199cdb;
  color: white;
  border-radius: 12px;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.6;
  color: #868e96;
}

.description {
  width: 25%;
  padding-left: 10px;
  border-bottom: 1px solid gray;
  color: #868e96;
}

.task {
  padding-left: 10px;
  border-bottom: 1px solid gray;
  color: #868e96;
}

.tech {
  padding-left: 10px;
  color: #868e96;
}

.table-text {
  color: #868e96;
}

.footer-item {
  display: inline-block;
  margin-left: 25px;
  font-size: 18px;
}
