@media only screen and (max-width: 600px) {
  #banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navigation-bar {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navigation-item {
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
  }

  .avatar-container {
    display: none;
  }

  .personal-info {
    grid-template-columns: 1fr;
  }

  .personal-info-heading {
    font-size: 22px;
  }

  .job-info-container {
    grid-template-columns: 1fr;
  }

  .cert-award-container {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }

  .cert-award-upper {
    grid-template-columns: 1fr;
    border-bottom: none;
  }

  .cert-award-left {
    grid-template-columns: 1fr;
    padding-bottom: 20px;
    border-bottom: 1px solid #d6c08d;
  }

  .cert-award-right {
    padding-left: 0;
    grid-template-columns: 1fr;
    border-left: none;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d6c08d;
  }

  .cert-award-lower {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 55%;
    margin-top: 35px;
  }

  .project-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
